*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 16px;
}
/********** NAVBAR ADAPTABLE A DISPOSITIVOS MOVILES ****************/
.fixed-top {
  max-height: 100vh;
  overflow: auto;
}


/************** HEADER ****************/
.header img{
	max-width: 100%;
}

.header hr {
  height: 2px;
  background-color: black;
}


/****** BARRA LATERAL*****/
.aside{

	position: fixed;
	font-size: 14px;
}
.aside li{
	text-align: center;
}
.aside li .active{
	
	color: #fff;
	background: #1E296D;
}
.aside h1{
	font-weight: 300;
}
.aside a{

	color: #000;
}
.aside a:hover{
	color: red;
}

/******* FOOTER ******/

.footer{
	margin: 20px 0;
}


/********* MEDIAQUERIES *******/
@media screen and (max-width:600px)
{
	/* NAVBAR */
	.linea .container a{
		font-size: 10px;
	}
	.linea .container .collapse a{
	font-size: 10px;
	padding: 5px 0px;
	}
	/******* HEADER ******/
	.header{
		margin-top: 50px;
	}
	/******** FOOTER *****/
	.footer p{
		font-size: 10px;
	}
}

@media screen and (max-width:600px)
{
	/******** FOOTER *****/
	.footer p{
		font-size: 8px;
	}
}