*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 16px;
}
/****** HEADER ********/
.div{
	color: #1E296D;
	font-family: "Open Sans", Arial, Sans-serif;
	font-weight: 300;
	margin-top: 50px;
}

.div img{
	/*margin-top: 50px;*/
	width: 100%;
}

/****** MAIN *****/

.main .fotos img{
	margin-top: 80px;
	max-width: 100%;
}

.main .lista{
	margin-top: 60px;
}

/******* SECTION /*****/
.section .pdf{
	width: 500px;
}


.section .titulo,
.section .fotos{
	margin: 50px;
}

/****** BARRA LATERAL*****/
.aside{

	position: fixed;
	font-size: 14px;
}
.aside li{
	text-align: center;
}
.aside li .active{
	
	color: #fff;
	background: #1E296D;
}
.aside h1{
	font-weight: 300;
}
.aside a{

	color: #000;
}
.aside a:hover{
	color: red;
}